<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.example.teamPrj.dao.INoticeDao">
<insert id="write">
	INSERT INTO notice_DBL VALUES(null, #{Param1}, #{Param2}, #{Param3}, #{Param4}) 
</insert>
</mapper>
