<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
header {
    text-align: center;
    margin-top: 50px;
}
.menu {
    text-align: center;
    margin-bottom: 20px;
}
</style>
</head>
<body>
<header>
	<h1>메인 페이지</h1>
	<h5 th:text="${session.name + '('+session.id+')'+'님 반갑습니다.'}"></h5> 
	<hr>
</header>
<div class="menu">
    <a href="myPage">마이페이지</a>
    <a href="writeForm">게시글쓰기</a>
    <a href="noticeList">게시판가기</a>
</div>
</body>
</html>