
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>회원가입 페이지</h1>
    <hr>
    <form action="regist" method="post">
       <input type="text" name="id" placeholder="id"><br>
       <input type="text" name="pw" placeholder="pw"><br>
       <input type="text" name="name" placeholder="name"><br>
       <input type="text" name="email" placeholder="email"><br>
       <input type="text" name="tel" placeholder="tel"><br>
       <input type="submit" value="등록하기">
    </form>
</body>
</html>